language: ruby
rvm:
  - 2.4.1
sudo: false
addons:
  postgresql: '9.4'
branches:
  only:
    - master
before_script:
  - bin/setup
  - bundle exec rake db:migrate
notifications:
  webhooks:
    urls:
      - https://buildlight.collectiveidea.com/
    on_start: always
cache: bundler
