@use "variables";

// Elements
// -----------------------------------------------------------------------------

html {
  font-family: variables.$base-font-family;
  font-weight: 300;
  line-height: 1.4;
}

body {
  background-color: variables.$base-background-color;
  color: variables.$base-text-color;
  font-size: 1em;
}

ol,
ul {
  padding-left: 1rem;
}

a {
  color: currentColor;

  &:focus,
  &:hover {
    color: variables.$strong-text-color;
  }
}
