// Elements
// -----------------------------------------------------------------------------

html {
  font-family: var(--base-font-family);
  font-weight: 300;
  line-height: 1.4;
}

body {
  background-color: var(--base-background-color);
  color: var(--base-text-color);
  font-size: 1em;
}

ol,
ul {
  padding-left: 1rem;
}

a {
  color: currentColor;

  &:focus,
  &:hover {
    color: var(--strong-text-color);
  }
}
