// Reset (the bits of Normalize.css that are used in this site)
// -----------------------------------------------------------------------------

// Prevent adjustments of font size after orientation changes in
// IE on Windows Phone and in iOS.
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// Remove the margin in all browsers (opinionated).
body {
  margin: 0;
}

// 1. Remove the gray background on active links in IE 10.
// 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
a {
  background-color: transparent; // 1
  -webkit-text-decoration-skip: objects; // 2
}

// Remove the outline on focused links when they are also active or hovered
// in all browsers (opinionated).
a:active,
a:hover {
  outline-width: 0;
}
