// Variables
// -----------------------------------------------------------------------------

// Colors
$black: #000;
$white: #fff;
$red: #cf4c29;
$yellow: #ecc561;
$green: #28b56e;

$base-background-color: mix($black, $white, 75%);

$base-text-color: mix($black, $white, 10%);
$strong-text-color: $white;
$muted-text-color: mix($black, $white, 50%);

// Typography
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Transitions
$base-transition-speed: 500ms;
$fast-transition-speed: $base-transition-speed / 2;
$slow-transition-speed: $base-transition-speed * 2;
$slug-transition-speed: $base-transition-speed * 8;

// Traffic light
$bulb-size: 50vmin;
$bulb-shadow-size: 150vmax;
$bulb-gutter: 6vmin;
$light-height: ($bulb-size * 3) + ($bulb-gutter * 2);

// Animations
$animation-pulse-duration: 5s;
