<div class="trafficlight">
  <div class="protector"></div>
  <div class="protector"></div>
  <div class="protector"></div>
  <div class="red<%= " lighted" if @colors[:red] %>"></div>
  <div class="yellow<%= " lighted" if @colors[:yellow] %>"></div>
  <div class="green<%= " lighted" if @colors[:green] %>"></div>
</div>