<div class="messages">
  <% if @colors[:red] %>
    <div class="message message--failure">
      <p>The following projects are <em>failing:</em></p>
      <ul>
        <li><a href="http://github.com/collectiveidea/">collectiveidea/some-project</a></li>
        <li><a href="http://github.com/collectiveidea/">collectiveidea/some-project</a></li>
      </ul>
    </div>
  <% end %>

  <% if @colors[:yellow] %>
    <div class="message message--building">
      <p>The following projects are <em>building:</em></p>
      <ul>
        <li><a href="http://github.com/collectiveidea/">collectiveidea/some-project</a></li>
        <li><a href="http://github.com/collectiveidea/">collectiveidea/some-project</a></li>
      </ul>
    </div>
  <% end %>

  <% if @colors[:green] %>
    <div class="message message--passing">
      <p>
        Hooray! All projects are passing.
        <%= image_tag "https://github.global.ssl.fastly.net/images/icons/emoji/tada.png?v5", alt: "tada emoji", class: "emoji" %>
      </p>
    </div>
  <% end %>

  <div class="messages__footer">
    <p>
      Like this?
      <a href="https://github.com/collectiveidea/buildlight">Fork it on Github</a>.
    </p>
  </div>
</div>

<div class="light" aria-hidden="true">
  <div class="light__box">
    <div class="light__box__bulb bulb bulb--red">
      <span class="bulb__glow"></span>
      <span class="bulb__disc"></span>
      <span class="bulb__text">Uh oh.</span>
    </div>

    <div class="light__box__bulb bulb bulb--yellow">
      <span class="bulb__glow"></span>
      <span class="bulb__disc"></span>
      <span class="bulb__text">Building&hellip;</span>
    </div>

    <div class="light__box__bulb bulb bulb--green">
      <span class="bulb__glow"></span>
      <span class="bulb__disc"></span>
      <span class="bulb__text">All good.</span>
    </div>
  </div>
</div>
