@use "../base/variables";

// Traffic light - the box that holds the light bulbs
// -----------------------------------------------------------------------------

.light {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  &__box {
    display: flex;
    flex-direction: column;
    height: variables.$light-height;
    justify-content: space-between;
    left: calc(50vw - (#{ variables.$bulb-size } / 2));
    position: absolute;
    top: calc(50vh - (#{ variables.$light-height } / 2));
    transition: margin-top variables.$base-transition-speed;
    width: variables.$bulb-size;

    [data-failing] & {
      margin-top: variables.$bulb-size + variables.$bulb-gutter;
    }

    [data-failing][data-building] & {
      margin-top: (variables.$bulb-size + variables.$bulb-gutter) * 0.5;
    }

    [data-passing] & {
      margin-top: -(variables.$bulb-size + variables.$bulb-gutter);
    }

    [data-passing][data-building] & {
      margin-top: -(variables.$bulb-size + variables.$bulb-gutter) * 0.5;
    }

    [data-failing][data-passing] & {
      margin-top: 0;
      transform: scale(.75);
    }
  }
}
