// Traffic light - the box that holds the light bulbs
// -----------------------------------------------------------------------------

.light {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  &__box {
    display: flex;
    flex-direction: column;
    height: var(--light-height);
    justify-content: space-between;
    left: calc(50vw - (var(--bulb-size) / 2));
    position: absolute;
    top: calc(50vh - (var(--light-height) / 2));
    transition: margin-top var(--base-transition-speed);
    width: var(--bulb-size);

    [data-failing] & {
      margin-top: calc(var(--bulb-size) + var(--bulb-gutter));
    }

    [data-failing][data-building] & {
      margin-top: calc((var(--bulb-size) + var(--bulb-gutter)) * 0.5);
    }

    [data-passing] & {
      margin-top: calc((var(--bulb-size) + var(--bulb-gutter)) * -1);
    }

    [data-passing][data-building] & {
      margin-top: calc((var(--bulb-size) + var(--bulb-gutter)) * -0.5);
    }

    [data-failing][data-passing] & {
      margin-top: 0;
      transform: scale(.75);
    }
  }
}
