<div class="trafficlight">
  <div class="protector"></div>
  <div class="protector"></div>
  <div class="protector"></div>
  <div id="buildlight-red" class="red<%= " lighted" if @colors[:red] %>"></div>
  <div id="buildlight-yellow" class="yellow<%= " lighted" if @colors[:yellow] %>"></div>
  <div id="buildlight-green" class="green<%= " lighted" if @colors[:green] %>"></div>
</div>
