// Place all the styles related to the red controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#what-is-red {
  width: 400px;
  margin: auto;
}