<div id="what-is-red">
  <% if @red_projects.any? %>
  <h2>The following projects are failing</h2>
  <ul>
    <% @red_projects.each do |red| %>
    <li><%= red.project_name %></li>
    <% end %>
  </ul>
  <% else %>
  <div>
    <%= "🎉" * 5 %>
  </div>
  <h1>You have no failing projects.</h1>
  <div>
    <%= "🎉" * 5 %>
  </div>
  <% end %>
</div>