<!doctype html>
<html>
<head>
  <title>Buildlight by Collective Idea</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<span id="forkongithub"><a href="https://github.com/collectiveidea/buildlight">Fork me on GitHub</a></span>

<%= yield %>

</body>
</html>
