<!doctype html>
<html>
<head>
  <title>Buildlight by Collective Idea</title>
  <%= stylesheet_link_tag    "panic", :media => "all" %>
  <%= javascript_include_tag "application", "panic" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
